* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    /*background-color: #111f; */
    background-image: linear-gradient(to bottom, #cc1a1a 5%, #129d05, #0c0b0b, #d6f236);
    color: #eee;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
.header {
    background: #000;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.titulo {
    font-size: 3rem;
    background: linear-gradient(to right,  #e60606 2%, #17f802, #2a2727, #d1f406);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ancora {
    font-size: 16px inter, sans-erif;
    color: #cccccc;
    text-decoration: none;
}

.logo h1 {
    color: #fff;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a {
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav a:hover {
    /*color: #fff; */
    color: #ff9800;
    transform: translateY(-3px);
}

.btn {
    background: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 4px;
}

/* HERO */
.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000, #222);
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* SECTIONS */
.section {
    padding: 80px 0;
}

.section.dark {
    background: #000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #1c1c1c; 
    padding: 40px;
    text-align: center;
    border-radius: 6px;
}

.card .ancora:hover {
    color: #1bf208;
}

/* FOOTER */
.footer {
    background: #000;
    padding: 60px 0 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.footer-copy {
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    color: #b0a7a7;
}

.btn-whatsapp img {
    width: 50px;
    padding-top: 20px;
}

.btn-whatsapp img:hover {
    transform: translate(-6px, -6px);
    box-shadow: 5px 5px 10px rgb(174, 164, 164);
    transition: transform 1s, border 1s;
}

.titul02 {
    background: linear-gradient(to right,  #e60606 2%, #17f802, #2a2727, #d1f406);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* inicio dos estilos do equipamentos*/
.equipamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.equipamento-galeria img {
    width: 100%;
    border-radius: 8px;
}

.ancora:hover {
     color: #1bf208;
}

.categoria {
    color: #d2d4e4;
    font-weight: 600;
    margin-bottom: 10px;
}

.specs, .lista {
    list-style: none;
    margin-top: 20px;
}

.specs li, .lista li {
    padding: 8px 0;
    border-bottom: 1px solid #333;
}

.form {
    display: grid;
    gap: 15px;
}

.form input, .form textarea {
    padding: 12px;
    background: #111;
    border: 1px solid #333;
    color: #fff;
}

.form textarea {
    min-height: 120px;
}
.form button {
    justify-self: start;
    justify-self: center;
}


